@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
.main{
	
	height: 100vh;
	width: 100%;
	background-image: url("sky.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	overflow-x:hidden;
}

.road{
	height: 200px;
	width: 500%;
	display: block;
	background-image: url("road.jpg");
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-repeat: repeat-x;
	animation: road 5s linear infinite;
}

@keyframes road{
	100%{
		transform: translateX(-3400px);
	}
}
.city{
	height: 250px;
	width: 500%;
	background-image: url("city.png");
	position: absolute;
	bottom: 200px;
	left: 0;
	right: 0;
	display: block;
	z-index: 1;
	background-repeat: repeat-x;
	animation: city 20s linear infinite;
}

@keyframes city{
	
	100%{
		transform: translateX(-1600px);
	}
}
.car{
	
	width: 400px;
	left: 30%;
	bottom: 100px;
	transform: translateX(-50%);
	position: absolute; 
	z-index: 2;
}


.car img {
	width: 100%;
}


.wheel{
	
	left: 30%;
	bottom: 178px;
	transform: translateX(-50);
	position: absolute;
	z-index: 2;
}

.wheel img {
	width: 72px;
	height: 72px;
	animation: wheel 1s linear infinite;
}

@keyframes wheel{
	100%{
		transform: rotate(360deg);
	}
}
.back-w{
	position: absolute;
	left: -164px;
}

.front-w{
	left: 80px;
	position: absolute;
}
















.car{
	animation: car-speed 10s linear infinite;
	position: absolute;
	top: 60%;
	left: 30%;
}

@keyframes car-speed{
	
	0%{
		left: -10%;
	}
	25%{
		left: 20%;
	}
	
	50%{top: 61%;
		left: 50%;
	}
	75%{
		left: 70%;
	}
	100%{
		left: 150%;
	}
}

.wheel{
	position: absolute;
	top: 75%;
	left: 30%;
	animation: rotat-speed 10s linear infinite;
}
@keyframes rotat-speed{
	
	0%{
		transform: rotate(360deg);
		left: -10%;
	}
	25%{
		transform: rotate(360deg);
		left: 20%;
	}
	
	50%{
		transform: rotate(360deg);
		left: 50%;
	}
	75%{
		transform: rotate(360deg);
		left: 70%;
	}
	100%{
		transform: rotate(360deg);
		left: 150%;
	}
}